<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Affecter Groupe</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Affecter Groupe</h4>
                    </div>
                    <div class="tab-inn">
                        <form #ExamenGroupeForm="ngForm" (ngSubmit)="addGroupeExamen()">

                            <div class="row" *ngIf="showMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-success">
                                        <strong>Groupe affecté avec succès</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="MsgError== true && myBtnIdClicked== true">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <label *ngIf="!grp.value" for="grp">Groupes</label>
                                    <select #grp="ngModel" id="grp" class="form-control" name="groupe_id"
                                        [(ngModel)]="data.groupe_id" required>
                                        <ng-container  *ngFor="let g of groupe">
                                            <ng-container *ngIf="!exist(g.id)">
                                                <option [value]="g.id">
                                                    {{g.niveau.libelle}} {{g.num}}</option>
                                            </ng-container>
                                        </ng-container>
                                    </select>
                                    <div class="input-field col 6">
                                        <strong *ngIf="grp.invalid && grp.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                                            type="submit" (click)="myBtnClicked()"
                                            class="waves-button-input" value="Envoyer"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>