<section>
    <div class="pro-cover">
    </div>
    <div class="pro-menu">
        <div class="container">
            <div class="col-md-9 col-md-offset-3">
                <ul>
                    <li><a routerLink="/enseignant" class="pro-act">Profile</a></li>
                    <li><a routerLink="dashboard">Mon Dashboard</a></li>
                    <!-- <li><a href="db-courses.html">Courses</a></li> -->
                    <!-- <li><a href="db-exams.html">Exams</a></li> -->
                    <li><a routerLink="emploi">Emploi de Temps</a></li>
                    <!-- <li><a href="#">Entry</a></li> -->
                    <!-- <li><a href="#">Notifications</a></li> -->
                </ul>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</section>