<!--SECTION START-->
<div class="stu-db">
    <div class="container pg-inn">

        <!-- <div class="col-md-9"> -->
            <!-- <div class="udb"> -->

                <div class="udb-sec udb-prof" *ngIf="parent">
                    <h4><img src="assets/images/icon/db1.png" alt="" /> {{parent.user.name}}: {{parent.user.email}}</h4>

                    <div class="sdb-tabl-com sdb-pro-table">
                        <table class="responsive-table bordered">
                            <tbody>
                                <tr>
                                    <td>Nom complet père </td>
                                    <td>:</td>
                                    <td>{{parent.nomComplet_pere}}</td>
                                </tr>
                                <tr>
                                    <td>Nom complet mère </td>
                                    <td>:</td>
                                    <td>{{parent.nomComplet_mere}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>CIN Père</td>
                                    <td>:</td>
                                    <td>{{parent.cin_pere}}</td>
                                </tr>
                                <tr>
                                    <td>CIN Mère</td>
                                    <td>:</td>
                                    <td>{{parent.cin_mere}}</td>
                                </tr> -->
                                <tr>
                                    <td>Téléphone Père</td>
                                    <td>:</td>
                                    <td>{{parent.tel_pere}}</td>
                                </tr>
                                <tr>
                                    <td>Téléphone Mère</td>
                                    <td>:</td>
                                    <td>{{parent.tel_mere}}</td>
                                </tr>
                                <tr>
                                    <td>Fonction Père</td>
                                    <td>:</td>
                                    <td>{{parent.fct_pere}}</td>
                                </tr>
                                <tr>
                                    <td>Fonction Mère</td>
                                    <td>:</td>
                                    <td> {{parent.fct_mere}}</td>
                                </tr>
                                <tr>
                                    <td>Email père </td>
                                    <td>:</td>
                                    <td>{{parent.email_pere}}</td>
                                </tr>
                                <tr>
                                    <td>Email Mère</td>
                                    <td>:</td>
                                    <td>{{parent.email_mere}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Nom du Compte</td>
                                    <td>:</td>
                                    <td>{{parent.user.name}}</td>
                                </tr>
                                <tr>
                                    <td>Email du Compte</td>
                                    <td>:</td>
                                    <td>{{parent.user.email}}</td>
                                </tr> -->
                                <ng-container *ngFor="let e of parent.eleves; let i=index;">
                                    <tr>
                                        <td>Élève {{i+1}} </td>
                                        <td>:</td>
                                        <td>{{parent.eleves[i].nom}} {{parent.eleves[i].prenom}}</td>
                                    </tr>
                                    <tr>
                                        <td>Groupe </td>
                                        <td>:</td>
                                        <td>{{parent.eleves[i].groupes[0].niveau.libelle}} {{parent.eleves[i].groupes[0].num}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Matricule </td>
                                        <td>:</td>
                                        <td>{{parent.eleves[i].matricule}}</td>
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                        <div class="sdb-bot-edit">
                            <a routerLink="/parent/modifierProfileParent/{{parent.id}}" class="waves-effect waves-light btn-large sdb-btn sdb-btn-edit"><i
                                    class="fa fa-pencil"></i> Modifier Profile</a>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
<!--SECTION END-->