<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a>Affecter Enseignants</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Groupe: {{groupe.niveau.libelle}} {{groupe.num}}</h4>

                    </div>
                    <div class="tab-inn">
                        <form #enseignantForm="ngForm" (ngSubmit)="affecterEnseignants()">
                            <div class="row" *ngIf="showMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-success">
                                        <strong>Enseignant(e)(s) affecté(e)(s) avec succès</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row" *ngIf="MsgError== true && myBtnIdClicked== true">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="tab-inn">
                                <div class="table-responsive table-desi">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Matiere</th>
                                                <th style="text-align: center;">Enseignant</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <ng-container *ngFor="let matiere of groupe.niveau.matieres; index as i">
                                                <ng-container *ngIf="!exist(matiere.id)">
                                                    <tr>
                                                        <td> {{i+1}}</td>
                                                        <td>{{matiere.libelle}}</td>
                                                        <td>
                                                            <select #box="ngModel" class="form-control" name="enseignant_id"
                                                                [(ngModel)]="GroupeEnseignants.enseignants[i].enseignant_id">
                                                                <option value="0" disabled selected>Select Enseignant
                                                                </option>
                                                                <option [value]="enseignant.id"
                                                                    *ngFor="let enseignant of matiere.enseignants">
                                                                    {{enseignant.nom}} {{enseignant.prenom}}</option>
                                                            </select>
                                                            <div class="input-field col 12">
                                                                <strong *ngIf="box.invalid && box.touched" class="text-danger">
                                                                    Veuillez Veuillez remplir ce champs
                                                                </strong>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>

                                            <!-- <tr  *ngFor="let matiere of groupe.niveau.matieres; index as i" >
                                                <td>{{i+1}}</td>
                                                <td>{{matiere.libelle}}</td>
                                               <td>
                                             <select  class="form-control" name="enseignant_id" [(ngModel)]="GroupeEnseignants.enseignants[i].enseignant_id" >
                                                <option value="0" disabled selected>Select Enseignant</option>
                                                <option  [value]="enseignant.id" *ngFor="let enseignant of matiere.enseignants" >{{enseignant.nom}} {{enseignant.prenom}}</option>
                                             </select>
                                            </td> -->
                                            <!-- <select box1 class="form-control " name="niveau_id"  [(ngModel)]="groupe.niveau_id" >
                                                <option value="0" disabled selected>Selecter Niveau</option>
                                                <option  [value]="niveau.id" *ngFor="let niveau of niveaux" >{{niveau.libelle}}</option>
                                                
                                            </select> -->

                                            <!-- </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>




                            <!-- <div class="row">
                                <div class="input-field col s12"  *ngFor="let matiere of Niveau_matieres.matieres; let i = index;">
                                    <label *ngIf="!matiere.libelle">Matière{{i + 1}}</label>
                                    <input #box  name="libelle[]" type="text" style="display: inline-block;width:97%" class="form-control" [(ngModel)]="matiere.libelle" >
                                   
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                                            type="submit" (click)="myBtnClicked()" class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>