<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp admin-form">
<div class="sb2-2-add-blog sb2-2-1">
    <h2>Détail de l'UV</h2>
    <p>Dans cette fenêtre dédiée, retrouvez tous les détails essentiels de l'UV sélectionnée,</p>

    <ul class="nav nav-tabs tab-list">
        <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true"><i class="fa fa-info" aria-hidden="true"></i> <span>Detail</span></a>
        </li>
        <li class=""><a data-toggle="tab" href="#menu1" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> <span>Liste des étudiants</span></a>
        </li>
        <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false"><i class="fa fa-comment" aria-hidden="true"></i> <span>Avis étudiants</span></a>
        </li>
        
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade active in">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Description détaillé de l'UV</h4>

                </div>
                <div class="bor">
                    <div class="cor-p4">
                        <h3>IT45 : Optimisation et recherche opérationnelle</h3>
                        <p>Modéliser un problème d'optimisation en variables continues ou entières
                            Utiliser un solveur libre/commercial pour modéliser et résoudre un problème
                            Résoudre un problème linéaire en variables continues par l'algorithme du simplexe
                            Résoudre des problèmes d'optimisation en appliquant des méthodes exactes ou approchées</p>
                            <p>Problème d'optimisation en variables continues et entières
                                Solution réalisable, optimums local et global
                                Langage de modélisation mathématique
                                Objectif, contrainte
                                Méthode de résolution exacte
                                Méthode de résolution approchée
                                Métaheuristique : algorithme génétique, méthode tabou, recuit simulé</p>
                                <p>FAURE, Robert, GUILLAT-LE GARFF, Nicole-Sylvie, et BLOCH, Manuel. Précis de recherche opérationnelle. Dunod, 1979.
                                    ROSEAUX (GROUPE). Exercices et problèmes résolus de recherche opérationnelle. Masson, 1986.
                                    ALJ, Abderrahmane et FAURE, Robert. Guide de la recherche opérationnelle. Masson, 1990.
                                    Paschos, Vangelis Th. Optimisation combinatoire. 1, Concepts fondamentaux. Edition Paris : Hermes science, 2005.
                                    ROADEF, Le livre blanc de la recherche opérationnelle, www.roadef.org, 2011.
                                    TEGHEM, Jacques. Recherche Opérationnelle Tome 1,2. Ellipses, 2012.
                                    </p>
                      </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="inn-title">
                <h4>Ici , vous trouverez la liste des étudiants qui ont déja effectué </h4>
               
            </div>
            <div class="bor ad-cou-deta-h4">
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Name</th>
                                   
                                    <th>Email</th>
                                    
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/1.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">LYOUBI Hajar</span><span class="list-enq-city">Casablanca, Maroc</span></a>
                                    </td>
                                    <td>hajarlyoubi@gmail.com</td>
                                    <td>
                                        <span class="label label-success">En cours</span>
                                    </td>
                                    <td><a href="eleve/profileAutreEtudiant" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/2.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">LARIF Aya</span><span class="list-enq-city">Sousa, Tunisie</span></a>
                                    </td>
                                    <td>aya@gmail.com</td>

                                    <td>
                                        <span class="label label-success">En cours</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/4.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Quang-Huy DANG</span><span class="list-enq-city">Caen,France</span></a>
                                    </td>
                                    <td>Quang-Huygmail.com</td>
                                    <td>
                                        <span style="background-color: gray;" class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/5.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Patience SIABI</span><span class="list-enq-city">Lome,Togo </span></a>
                                    </td>
                                    <td>Patience@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/1.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Yasmine Jina</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>yasmine@dummy.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/2.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Samia akeriou</span><span class="list-enq-city">Lille, France</span></a>
                                    </td>
                                    <td>samia@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;" class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/4.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Hello</span><span class="list-enq-city">Himalaya, United States</span></a>
                                    </td>
                                    <td>hello@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/5.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">saluuut cava</span><span class="list-enq-city">Rouen, France</span></a>
                                    </td>
                                    <td>salut@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="inn-title">
                <h4>Avis étudiant</h4>
                
            </div>
            <div class="bor">
                <div class="cor-p6">
                    <h3> Retour des étudiants sur l'UV</h3>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/4.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Hassan</h4>
                            <span>Date: 12may, 2017</span>
                            <p>Cet UV a été une expérience incroyable ! Les enseignants étaient passionnants et les contenus très enrichissants. J'ai vraiment apprécié les projets pratiques qui m'ont permis d'appliquer les concepts théoriques. Je recommande vivement cet UV à tous les étudiants intéressés par ce domaine.</p>
                        </div>
                    </div>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/user.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Victor Hugo</h4>
                            <span>Date: 12may, 2017</span>
                            <p>Cet UV était très décevant. Les cours étaient désorganisés et manquaient de clarté, ce qui rendait difficile la compréhension des concepts. De plus, les évaluations étaient trop exigeantes et ne reflétaient pas réellement notre apprentissage. J'espère sincèrement que des améliorations seront apportées à l'avenir pour rendre cet UV plus bénéfique pour les étudiants.</p>
                        </div>
                    </div>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/5.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Rachel Mihcelle</h4>
                            <span>Date: 12may, 2017</span>
                            <p>J'ai vraiment apprécié cet UV ! Les cours étaient bien structurés et les enseignants étaient très compétents. J'ai pu acquérir des connaissances approfondies dans le domaine et les évaluations étaient justes et équilibrées. Je recommande vivement cet UV à tous ceux qui souhaitent approfondir leurs compétences dans ce domaine.</p>
                        </div>
                    </div>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/4.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Samia akeriou</h4>
                            <span>Date: 12may, 2017</span>
                            <p>Malheureusement, cet UV ne répondait pas à mes attentes. Les cours manquaient d'engagement et de dynamisme, ce qui rendait l'apprentissage peu intéressant. De plus, les évaluations étaient basées principalement sur la mémorisation plutôt que sur la compréhension des concepts. J'espère que des améliorations seront apportées à l'avenir pour rendre cet UV plus interactif et stimulant pour les étudiants.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>
</div>
            </div>
        </div>
    </div>
</div>