<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp admin-form">
<div class="sb2-2-add-blog sb2-2-1">
    <h2>Add New Course</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>

    <ul class="nav nav-tabs tab-list">
        <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true"><i class="fa fa-info" aria-hidden="true"></i> <span>Detail</span></a>
        </li>
        <li class=""><a data-toggle="tab" href="#menu1" aria-expanded="false"><i class="fa fa-bed" aria-hidden="true"></i> <span>Course Syllabus</span></a>
        </li>
        <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false"><i class="fa fa-picture-o" aria-hidden="true"></i> <span>Banner Image</span></a>
        </li>
        
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade active in">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Course Information</h4>
                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                </div>
                <div class="bor">
                    <div class="cor-p4">
                        <h3>Course Details:</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                            to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                            this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                            Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="inn-title">
                <h4>Requirements, feese, student profile and how to apply</h4>
                <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
            </div>
            <div class="bor ad-cou-deta-h4">
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Name</th>
                                   
                                    <th>Email</th>
                                    
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/1.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Marsha Hogan</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>chadengle@dummy.com</td>
                                    <td>
                                        <span class="label label-success">En cours</span>
                                    </td>
                                    <td><a href="eleve/profileAutreEtudiant" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/2.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Lucas Caden</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>lucas@gmail.com</td>

                                    <td>
                                        <span class="label label-success">En cours</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/4.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Ethan Oliver</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>Ethan@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;" class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/5.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Ethan Oliver</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>Ethan@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/1.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Marsha Hogan</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>chadengle@dummy.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/2.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Lucas Caden</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>lucas@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;" class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/4.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Ethan Oliver</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>Ethan@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="/assets/images/user/5.png" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Ethan Oliver</span><span class="list-enq-city">Illunois, United States</span></a>
                                    </td>
                                    <td>Ethan@gmail.com</td>
                                    <td>
                                        <span style="background-color: gray;"class="label label-success">Effectué</span>
                                    </td>
                                    <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="inn-title">
                <h4>Photo Gallery</h4>
                <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
            </div>
            <div class="bor">
                <div class="cor-p6">
                    <h3>Student Reviews</h3>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/4.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Rachel Britain</h4>
                            <span>Date: 12may, 2017</span>
                            <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                        </div>
                    </div>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/4.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Rachel Britain</h4>
                            <span>Date: 12may, 2017</span>
                            <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                        </div>
                    </div>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/4.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Rachel Britain</h4>
                            <span>Date: 12may, 2017</span>
                            <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                        </div>
                    </div>
                    <div class="cor-p6-revi">
                        <div class="cor-p6-revi-left">
                            <img src="/assets/images/4.jpg" alt="">
                        </div>
                        <div class="cor-p6-revi-right">
                            <h4>Rachel Britain</h4>
                            <span>Date: 12may, 2017</span>
                            <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>
</div>
            </div>
        </div>
    </div>
</div>