<!--== User Details ==-->
<div class="stu-db">
    <div class="container pg-inn">

        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="udb-sec udb-cour-stat">
                        <h4><img src="assets/images/icon/db4.png" alt="" /> Absences</h4>
                        <div class="pro-con-table">
                            <!-- <ng-container *ngIf="travaux.length>0;else ElseIf"> -->
                            <div class="row" *ngIf="parent && parent.eleves && parent.eleves.length>1">
                                <div class="input-field col s12">
                                    <!-- <label *ngIf="!box1.value" for="eleve">Eleves</label> -->
                                    <select (change)="onSelect()" #box1="ngModel" id="eleve" class="form-control"
                                        name="eleve_id" [(ngModel)]="eleveId" required>
                                        <option value="0">Eleves</option>
                                        <option *ngFor="let e of parent.eleves; let i=index;"
                                            [value]="parent.eleves[i].id">
                                            {{parent.eleves[i].nom}} {{parent.eleves[i].prenom}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <table class="bordered responsive-table" *ngIf="clicked==true || (parent && parent.eleves && parent.eleves.length==1)">
                                <ng-container *ngIf="this.absences.length>0 ;else ElseIf">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Séance</th>
                                            <th>Date</th>
                                            <th>Matière</th>
                                            


                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let a of absences; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{a.type}} {{a.margeRetard}}</td>
                                            <td>{{a.seance.heure | slice :0:5 }}</td>
                                            <td>{{a.date|date: 'fullDate'}}</td>
                                            <td>{{a.seance.enseignant.matiere.libelle}}</td>
                                        </tr>

                                    </tbody>
                                </ng-container>
                                <ng-template #ElseIf>
                                        <div class="row">
                                            <div class="input-field col s12">
                                            <h4 style="padding:1%"> Aucune absence n'a été ajoutée pour le moment...</h4>
                                            </div>
                                        </div>
                                   
                                  
                                  </ng-template>
                            </table>
                            <!-- </ng-container> -->
                            <!-- <ng-template #ElseIf>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <h4 style="padding:1%"> Aucune absence n'a été ajouté pour le moment....</h4>
                                    </div>
                                </div>
                            </ng-template> -->

                        </div>
                    </div>



                </div>
            </div>
        </div>