<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Ajouter Examen</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Ajouter Examen</h4>
                    </div>
                    <div class="tab-inn">
                        <form #examenForm="ngForm" (ngSubmit)="ajouterExamen()">

                            <div class="row" *ngIf="showMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-success">
                                        <strong>Examen ajouté avec succès</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="(MsgError== true && myBtnIdClicked== true)">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input #box1="ngModel"  type="text" name="libelle" [(ngModel)]="examen.libelle" class="validate" required>
                                    <label *ngIf="!box1.value">Libellé</label>
                                    <div class="input-field col 12">
                                        <strong *ngIf="box1.invalid && box1.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label *ngIf="!box2.value" for="session">Sélecter Trimestre/Semestre</label>
                                    <select #box2="ngModel" id="session" class="form-control" name="session_id" [(ngModel)]="examen.session_id" required>
                                        <option *ngFor="let session of sessions" [value]="session.id">{{session.nom}}</option>
                                    </select>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box2.invalid && box2.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s12">
                                    <label *ngIf="!box3.value" for="examen">Type d'examen</label>
                                    <select #box3="ngModel" id="examen" class="form-control" name="type" [(ngModel)]="examen.type" required>
                                        <option value="Contrôle">Contrôle</option>
                                        <option value="Synthèse">Synthèse</option>
                                        <option value="TP" >TP</option>
                                        <option value="Oral" >Oral</option>


                                    </select>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box3.invalid && box3.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                        <input #box4="ngModel" type="text" name="date" [(ngModel)]="examen.date"
                                            placeholder="Date d'examen" onfocus="(this.type='date')" required>
                                            <div class="input-field col 6">
                                                <strong *ngIf="box4.invalid && box4.touched" class="text-danger">
                                                    Veuillez saisir une entrée valide
                                                </strong>
                                            </div>
                                </div>
                            </div>
                            
                           
                            <div class="row">
                                <div class="file-field input-field col s12">
                                    <div class="btn admin-upload-btn">
                                        <span>Fichier</span>
                                        <input type="file" name="file_examen" class="form-control" (change)="onFileSelected1($event)"
                                        accept=".xls, .xlsx, .pdf, .doc, .docx, .txt, .csv, .ppt, .pptx" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="FICHIER DE L'EXAMEN">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="file-field input-field col s12">
                                    <div class="btn admin-upload-btn">
                                        <span>Fichier</span>
                                        <input type="file" name="file_correction"  (change)="onFileSelected2($event)" 
                                        accept=".xls, .xlsx, .pdf, .doc, .docx, .txt, .csv, .ppt, .pptx">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="FICHIER DE CORRECTION">
                                    </div>
                                </div>
                            </div>
                            <div class="input-field col 12">
                                <strong class="text-danger">
                                    (Les fichiers doivent être .pdf, .doc, .docx, .txt, .csv, .ppt, .pptx, .xls, ou
                                    bien .xlsx)
                                </strong>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                                            type="submit" (click)="myBtnClicked()" class="waves-button-input" value="Envoyer"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>