<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Liste des Bulletins</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Liste des Bulletins</h4>

                    </div>
                    <div class="row" *ngIf="showMsg">
                        <div class="col-md-12">
                            <p class="alert alert-success">
                                <strong>Suppression avec succès</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-inn">
                        <ng-container *ngIf="bulletins.length>0;else ElseIf">
                            <div class="table-responsive table-desi">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Session scolaire</th>
                                            <th>Groupe</th>
                                            <th>Élève</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bulletin of bulletins; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{bulletin.session_scolaire.nom}}</td>
                                            <td>{{bulletin.groupe.niveau.libelle}} {{bulletin.groupe.num}}</td>
                                            <td>{{bulletin.eleve.nom}} {{bulletin.eleve.prenom}}</td>
                                           
                                            <td>
                                                <!-- <a (click)="supprimerAnnee(annee.id)"
                                                    style="background-color: #f44336;margin-right: 10px;"
                                                    class="label label-success">Supprimer</a> -->
                                                <a data-toggle="modal" data-target="#modal3" style="background-color: #f44336;margin-right: 10px;"
                                                    class="label label-success" (click)="onClick(bulletin.id)">Supprimer</a>
                                                <a  routerLink="/admin/afficherBulletin/{{bulletin.id}}"
                                                    style="background-color: #58b392;"
                                                    class="label label-success">Afficher</a>
                                            </td>

                                        </tr>

                                        <!-- delete confirmation pop-up  -->
                                        <div id="modal3" class="modal fade" role="dialog">
                                            <div class="log-in-pop" style="width: 60%; height:40%; padding:5%">
                                                <a #closeModal href="#" class="pop-close" data-dismiss="modal"><img
                                                        src="assets/images/cancel.png" alt="" />
                                                </a>
                                                <h2 style="text-align: center; color: rgba(0, 0, 0, 0.934);">
                                                    Supprimer Bulletin</h2>
                                                <h4 style="color: rgba(3, 3, 3, 0.873);">Êtes-vous sûr de vouloir
                                                    supprimer ce Bulletin ?</h4> <br>


                                                <div
                                                    style="display: grid; grid-template-columns: auto auto; grid-gap: 50px;">
                                                    <input (click)="cancel()" type="submit" value="Annuler"
                                                        class="waves-effect waves-light log-in-btn"
                                                        style="background-color: #002147;">
                                                    <input (click)="deleteBulletin(idBulletin)" type="submit" value="Supprimer"
                                                        class="waves-effect waves-light log-in-btn">

                                                </div>

                                            </div>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                        <ng-template #ElseIf>
                            <div class="row">
                                <div class="input-field col s12">
                                    <h4 style="padding:1%"> Il n'y a pas de bulletins pour le moment...</h4>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
