<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Liste Travaux</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Liste de travaux</h4>

                    </div>
                    <div class="row" *ngIf="showMsg">
                        <div class="col-md-12">
                            <p class="alert alert-success">
                                <strong>Suppression avec succès</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-inn">

                        <div class="app-search" style="width: 100%; display: flex;">
                            <input class="sf-input" type="text" placeholder="Libellé" class="form-control"
                                (keyup.enter)="onInputSearch($event)">

                            <a><i class="fa fa-search"></i></a>
                        </div>

                        <ng-container *ngIf="traveaux.length>0;else ElseIf">
                            <div class="table-responsive table-desi">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Libellé</th>
                                            <th>Type</th>
                                            <th>Cours</th>
                                            <th>Fichier de travau</th>
                                            <th>Fichier de correction</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let traveau of traveaux; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{traveau.libelle}}</td>
                                            <td>{{traveau.type}}</td>
                                            <td>{{traveau.cours.libelle}}</td>
                                            <td><a (click)="downloadFile(traveau.fichier.id,traveau.fichier.file)"
                                                    class="menu-active"><i style="width:30%;"
                                                        class="fa fa-cloud-download" aria-hidden="true"></i></a>
                                                <a (click)="openFile(traveau.fichier.id)" class="menu-active"><i
                                                        style="width:30%;" class="fa fa-eye" aria-hidden="true"></i></a>
                                            </td>
                                            <td
                                                *ngIf="traveau.fichier.fichier_correction.file_correction!=='nofile.pdf' else elseBlock">
                                                <a (click)="downloadFileCorrection(traveau.fichier.fichier_correction.id,traveau.fichier.fichier_correction.file_correction)"
                                                    class="menu-active"><i style="width:30%;"
                                                        class="fa fa-cloud-download" aria-hidden="true"></i></a>
                                                <a (click)="openFileCorrection(traveau.fichier.fichier_correction.id)"
                                                    class="menu-active"><i style="width:30%;" class="fa fa-eye"
                                                        aria-hidden="true"></i></a>
                                            </td>
                                            <ng-template #elseBlock>
                                                <td>Pas de fichier</td>
                                            </ng-template>
                                            <td> <a data-toggle="modal" data-target="#modal16" (click)="onClick(traveau.id)"
                                                    style="background-color: #f44336;margin-right: 10px;"
                                                    class="label label-success">Supprimer</a>
                                                <a routerLink="/enseignant/dashboard/modifierTraveau/{{traveau.id}}"
                                                    style="background-color: #002147;"
                                                    class="label label-success">Modifier</a>

                                            </td>


                                        </tr>

                                         <!-- delete confirmation pop-up  -->
                                         <div id="modal16" class="modal fade" role="dialog">
                                            <div class="log-in-pop" style="width: 60%; height:40%; padding:5%">
                                                <a #closeModal href="#" class="pop-close" data-dismiss="modal"><img
                                                        src="assets/images/cancel.png" alt="" />
                                                </a>
                                                <h2 style="text-align: center; color: rgba(0, 0, 0, 0.934);">
                                                    Supprimer Travau
                                                </h2>
                                                <h4 style="color: rgba(3, 3, 3, 0.873);">Êtes-vous sûr de vouloir
                                                    supprimer ce travau ?
                                                </h4> <br>


                                                <div
                                                    style="display: grid; grid-template-columns: auto auto; grid-gap: 50px;">
                                                    <input (click)="cancel()" type="submit" value="Annuler"
                                                        class="waves-effect waves-light log-in-btn"
                                                        style="background-color: #002147;">
                                                    <input (click)="deleteTraveau(idTravau)" type="submit"
                                                        value="Supprimer" class="waves-effect waves-light log-in-btn">

                                                </div>

                                            </div>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                        <ng-template #ElseIf>
                            <div class="row">
                                <div class="input-field col s12">
                                    <h4 style="padding:1%"> Il n'y a pas encore de travaux....</h4>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>