<!--HEADER SECTION-->
<section>
    <!-- TOP BAR -->
    <div class="ed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ed-com-t1-left">
                        <ul>

                        </ul>
                    </div>
                    <div class="ed-com-t1-right">
                        <ul>
                            <li>

                                <a *ngIf="isAuth && role=== 'enseignant' " routerLink="/enseignant">Profile</a>
                                <a *ngIf="isAuth && role=== 'eleve' " routerLink="/eleve">Profile</a>
                                <a *ngIf="isAuth && role=== 'parentt' " routerLink="/parent">Profile</a>
                                <a *ngIf="isAuth && role=== 'admin' " routerLink="/admin">Dashboard</a>
                                <a *ngIf="!isAuth" routerLink="preInscrit">Inscription</a>
                            </li>
                            <li>
                                <a *ngIf="!isAuth" href="#!" data-toggle="modal" data-target="#modal1">Connexion</a>
                                <a *ngIf="isAuth" (click)="logout()">Déconnexion</a>
                            </li>


                        </ul>
                    </div>

                    <div style="padding: 0%;" class="dropdown" *ngIf="isAuth && role=== 'parentt' ">
                        <a style="left: 1000%; top: 9px;" id="dLabel" role="button" data-toggle="dropdown"
                            data-target="#" class='waves-effect btn-noti' title="Notifications">
                            <i class="fa fa-bell" style="color: white;" aria-hidden="true"></i>
                            <span *ngIf="newNotifs">{{newNotifs}}</span>
                        </a>
                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                            <div class="notification-heading">
                                <h4 class="menu-title">Notifications</h4>
                            </div>
                            <li class="divider"></li>
                            <div class="notifications-wrapper">

                                <a class="content" *ngFor="let notif of listNotifications" (click)="onOpenNotif(notif)">
                                    <div
                                        [ngClass]="{'notification-opned-item':notif.isOpen,'notification-item':!notif.isOpen}">
                                        <h4 class="item-title">{{notif.type}}</h4>
                                        <p class="item-info">{{notif.title}}</p>
                                    </div>
                                </a>
                            </div>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- LOGO AND MENU SECTION -->
    <div  *ngIf="!isAuth" class="top-logo" data-spy="affix" data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a routerLink="/"><img src="assets/images/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="main-menu">
                        <ul>
                            
                            <li><a  routerLink="/">Accueil</a>


                            

                            <li class="about-menu">
                                <a routerLink="about" class="mm-arr">À Propos</a>
                            <li><a routerLink="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="all-drop-down-menu">

                </div>

            </div>
        </div>
    </div>
    <section *ngIf="isAuth && role=== 'eleve'" >
        <div class="menu-bar">
            <div class="button-bar">
              <ul>
                <li><a class="button-link" routerLink="/eleve/accueilEtud">Accueil </a></li>
                <li><a class="button-link" routerLink="/eleve/specialite">UVs </a></li>
                <li><a class="button-link" routerLink="/eleve/associations">Associations</a></li>
                <li><a class="button-link" routerLink="/eleve/logements">Logements</a></li>
                <li><a class="button-link" routerLink="/eleve/restaurants">Restaurations</a></li>
              </ul>
            </div>
          </div>
    </section>
</section>
<!--END HEADER SECTION-->

<router-outlet></router-outlet>

<!-- FOOTER -->
<section class="wed-hom-footer">
    <div class="container">
        <div class="row wed-foot-link-1">
            <div class="col-md-4 foot-tc-mar-t-o">
                <h4>À Propos</h4>
                <p style="text-align: justify;">La plate-forme est créée pour fournir aux étudiants un accès à toutes les informations en relation avec l'université; 
                    telles que la description des UVs et les associations, en un seul endroit. Elle permet aux étudiants de trouver facilement 
                    les informations dont ils ont besoin. De plus, la plate-forme comporte les commentaires d'anciens étudiants de certaines UVs ou 
                    de membres d'une association pour que les étudiants puissent se faire une idée sur le sujet avant de faire leur choix.
                </p>

            </div>
            <div class="col-md-4 ">
                <h4>Contactez nous</h4>
                <p>Adresse: CampusConnect, Rue Ernest Thierry Mieg, Belfort.</p>
                <p>Téléphone: <a>+33 73 231 231</a></p>
                <p>Email: <a>CampusConnect@edu.fr</a></p>
            </div>

            <div class="col-md-4">
                <h4>Nos réseaux sociaux</h4>
                <ul>
                    <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li><a><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li><a><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </li>
                    <li><a><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
<section>
    <!-- LOGIN SECTION -->
    <div id="modal1" class="modal fade" role="dialog">
        <div class="log-in-pop">
            <div class="log-in-pop-left">
                <h1>Bienvenue...</h1>
                <p>Vous n'avez pas de compte ? Prière de préinscrire d'abord et attendez la confirmation de
                    l'administration pour devenir un membre
                    de CampusConnect.
                </p>

            </div>
            <div class="log-in-pop-right">
                <a #closeModal href="#" class="pop-close" data-dismiss="modal"><img src="assets/images/cancel.png"
                        alt="" />
                </a>
                <h4>Connexion</h4>
                <div *ngIf="msgError && msgError.length >0">
                    <div *ngFor="let error of msgError">
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    </div>
                </div>
                <form class="s12" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                    <div>
                        <div class="input-field s12">
                            <input type="email" data-ng-model="name" name="email" class="validate" required ngModel>
                            <label>Email</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input type="password" name="password" class="validate" required ngModel>
                            <label>Mot de passe</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <input type="submit" value="Connexion" class="waves-effect waves-light log-in-btn">
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <a routerLink="preInscrit" data-dismiss="modal">Préinscrire</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>