<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Liste Groupes</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Liste Groupes</h4>

                    </div>
                    <div class="row" *ngIf="showMsg">
                        <div class="col-md-12">
                            <p class="alert alert-success">
                                <strong>Suppression avec succès</strong>
                            </p>
                        </div>
                    </div>

                    <div class="tab-inn">

                        <div class="app-search" style="width: 100%; display: flex;">

                            <select style="border-radius: 0px; border: none;" class="form-control" name="matiere_id"
                                (change)="onSelect($event)">
                                <option [value]="0" selected> Tous les niveaux</option>
                                <option *ngFor="let n of niveaux" [value]="n.id">
                                    {{n.libelle}} </option>
                            </select>
                            <input class="sf-input" type="text" placeholder="Numéro" class="form-control"
                                (keyup.enter)="onInputSearch($event)">



                            <a><i class="fa fa-search"></i></a>
                        </div>

                        <ng-container *ngIf="groupes.length>0;else ElseIf">
                            <div class="table-responsive table-desi">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Niveau</th>
                                            <th>Numéro</th>
                                            <th>élèves</th>
                                            <th>Enseignants</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let groupe of groupes; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{groupe.niveau.libelle}}</td>
                                            <td>{{groupe.num}}</td>
                                            <td><a routerLink="/admin/afficherEleves/{{groupe.id}}"
                                                    style="background-color: #58b392"
                                                    class="label label-success">élèves</a>
                                            </td>


                                            <ng-container
                                                *ngIf="groupe.niveau.matieres_count==groupe.enseignants_count;else second">
                                                <td> <a routerLink="/admin/afficherEnseignants/{{groupe.id}}"
                                                        style="background-color: #002147;margin-right: 10px;"
                                                        class="label label-success">Liste</a>
                                                </td>

                                            </ng-container>
                                            <ng-template #second>
                                                <ng-container *ngIf="groupe.enseignants_count>0;else third">
                                                    <td>
                                                        <a routerLink="/admin/afficherEnseignants/{{groupe.id}}"
                                                            style="background-color: #002147;margin-right: 10px;"
                                                            class="label label-success">Liste</a>

                                                        <a routerLink="/admin/affecterEnseignant/{{groupe.id}}"
                                                            style="background-color: #58b392"
                                                            class="label label-success">Affecter</a>
                                                    </td>

                                                </ng-container>
                                            </ng-template>
                                            <ng-template #third>
                                                <td><a routerLink="/admin/affecterEnseignant/{{groupe.id}}"
                                                        style="background-color: #58b392;width: 150%;"
                                                        class="label label-success">Affecter</a></td>

                                            </ng-template>

                                            <td>
                                                <a data-toggle="modal" data-target="#modal10" (click)="onClick(groupe.id)"
                                                    style="background-color: #f44336;margin-right: 10px;"
                                                    class="label label-success">Supprimer</a>

                                                <a routerLink="/admin/modifierGroupe/{{groupe.id}}"
                                                    style="background-color: #002147;"
                                                    class="label label-success">Modifier</a>
                                            </td>


                                        </tr>

                                         <!-- delete confirmation pop-up  -->
                                         <div id="modal10" class="modal fade" role="dialog">
                                            <div class="log-in-pop" style="width: 60%; height:40%; padding:5%">
                                                <a #closeModal href="#" class="pop-close" data-dismiss="modal"><img
                                                        src="assets/images/cancel.png" alt="" />
                                                </a>
                                                <h2 style="text-align: center; color: rgba(0, 0, 0, 0.934);">
                                                    Supprimer Groupe
                                                </h2>
                                                <h4 style="color: rgba(3, 3, 3, 0.873);">Êtes-vous sûr de vouloir
                                                    supprimer ce groupe ?
                                                </h4> <br>


                                                <div
                                                    style="display: grid; grid-template-columns: auto auto; grid-gap: 50px;">
                                                    <input (click)="cancel()" type="submit" value="Annuler"
                                                        class="waves-effect waves-light log-in-btn"
                                                        style="background-color: #002147;">
                                                    <input (click)="deleteGroupe(idGroupe)" type="submit"
                                                        value="Supprimer" class="waves-effect waves-light log-in-btn">

                                                </div>

                                            </div>
                                        </div>

                                    </tbody>

                                </table>
                            </div>
                        </ng-container>
                        <ng-template #ElseIf>
                            <div class="row">
                                <div class="input-field col s12">
                                    <h4 style="padding:1%"> Il n'y a pas encore de groupes...</h4>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>