<section>
    <div class="pro-cover">
    </div>
    <div class="pro-menu">
        <div class="container">
            <div class="col-md-9 col-md-offset-3">
                <ul>
                    <li><a routerLink="/parent" class="pro-act">Profile</a></li>
                    <li><a routerLink="/parent/discipline" class="pro-act">Discipline</a></li>
                    <li><a routerLink="/parent/punitions" class="pro-act">Punitions</a></li>
                    <li><a routerLink="/parent/notes" class="pro-act">Notes</a></li>
                    <li><a routerLink="/parent/emploi" class="pro-act">Emploi</a></li>
                    <li><a routerLink="/parent/bulletins" class="pro-act">Bulletins</a></li>



                </ul>
            </div>
        </div>
    </div>
   
    <router-outlet></router-outlet>

</section>
