<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Marquer Absences</a>
            </li>

        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Marquer les Absences</h4>
                    </div>
                    <div class="tab-inn">
                        <form #absenceForm="ngForm" (ngSubmit)="marquerAbsences()">
                            <div class="row"*ngIf="showMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-success">
                                        <strong>Les Absences sont marquées avec succès</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row" *ngIf="errorMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div>
    

                            <!-- <div class="row"
                                *ngIf="MsgError== true && myBtnIdClicked== true">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div> -->

                            <div class="row" style="display: flex;">
                                <div class="input-field col s6">
                                    <label *ngIf="!box6.value" for="session_id">Trimestre/semestre</label>
                                    <select  #box6="ngModel" id="grp" class="form-control"
                                        name="session_id" [(ngModel)]="discipline.session_id" required>
                                        <!-- <option disabled selected>Groupes</option> -->
                                        <option *ngFor="let session of sessions" [value]="session.id">
                                            {{session.nom}}</option>
                                    </select>
                                </div>

                                <div class="input-field col s6">
                                    <label *ngIf="!box1.value" for="grp">Groupes</label>
                                    <select (change)="onSelectGroupe()" #box1="ngModel" id="grp" class="form-control"
                                        name="groupe_id" [(ngModel)]="groupe_id" required>
                                        <!-- <option disabled selected>Groupes</option> -->
                                        <option *ngFor="let groupe of groupes" [value]="groupe.id">
                                            {{groupe.niveau.libelle}} {{groupe.num}}</option>
                                    </select>
                                </div>


                                <div class="input-field col s6">
                                    <!-- <label *ngIf="!box2.value" for="seance">Seances</label> -->
                                    <select (change)="onSelectSeance()" #box2="ngModel" id="seance" class="form-control" name="seance_id" [(ngModel)]="discipline.seance_id" required>
                                        <option [value]="0" disabled selected>Seance</option>
                                        <option *ngFor="let s of seances" [value]="s.id"> {{s.jour}} {{s.heure | slice :0:5}}</option>
                                    </select>

                                </div>

                                <div class="input-field col s6">
                                    <input (change)="onchangeDate()" style="height: 34px;border: 1px solid #ccc;border-radius: 4px;" type="text" name="date" placeholder="Date" [(ngModel)]="discipline.date"onfocus="(this.type='date')"
                                        required>
                                </div>


                            </div>
                            <ng-container *ngIf="select">
                            <ng-container *ngIf="(EleveLength==0);else Second">
                                <div class="row">
                                    <div class="input-field col s12">
                                    <h4 style="padding:1%">Il n'y a pas d'élèves dans ce groupe...</h4>
                                    </div>
                                </div>

                            </ng-container> 
                            <ng-template #Second> 
                            <ng-container *ngIf="(changeDate)&&(selectSeance)&&(EleveLength==AbencesLength);else ElseIf">
                                <div class="row">
                                    <div class="input-field col s12">
                                    <h4 style="padding:1%">Absences déjà ajoutées...</h4>
                                    </div>
                                </div>
                            </ng-container>
                            </ng-template>
                            <ng-template #ElseIf>
                                <ng-container *ngIf="(changeDate)&&(selectSeance)">
                                <div  class="table-responsive table-desi">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>élèves</th>
                                            <th>Absent(e) </th>
                                            <th>Retard</th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <ng-container *ngFor="let e of listEleves; index as i">
                                            

                                            <tr *ngIf="!exist(e.id)">
                                                <td>{{i+1}}</td>

                                                <td><span class="list-enq-name">{{e.prenom}} {{e.nom}}</span>
                                                </td>
                                               
                                                <td *ngFor="let type of types; let j = index">
                                                    <input   #checkbox class="filled-in"  name="{{type.id}}-{{i}}" type="checkbox"  id="filled-in-box-{{i}}-{{j}}" (click)="selectCheckBox(checkbox.id,i,type.name)">
                                                    <label   for="filled-in-box-{{i}}-{{j}}"></label>
                                                    <ng-container *ngIf="(type.id==2)&&(checkbox.checked)">
                                                      <div class="input-field col s6"
                                                        style="margin-top: 0%;  margin-right: 30%; float: right;">

                                                         <input type="text" name="margeRetard-{{i}}" placeholder="marge Retard" [(ngModel)]="discipline.DisciplineEleve[i].margeRetard">
                                                      </div>

                                                    </ng-container>
                                                    <!-- <ng-template #second>
                                                        <ng-container *ngIf="(type.id)==3&&(checkbox.checked)">
                                                    <div class="input-field col s6"
                                                    style="margin-top: 0%  ;  margin-right: 30%; float: right;">

                                                    <input type="text" name="justification-{{i}}" placeholder="Motif" [(ngModel)]="discipline.DisciplineEleve[i].justification">
                                                   </div>
                                                     </ng-container>
                                                     </ng-template> -->

                                                </td>
                                             
                                               

                                    
                                            </tr>
                                        </ng-container>
                                   

                                    </tbody>


                                </table>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                                            type="submit" class="waves-button-input"></i>
                                </div>
                            </div>
                        </ng-container>
                        </ng-template>
                       </ng-container>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>