<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Ajouter Enseignant(e)</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Ajouter Enseignant(e)</h4>
                    </div>
                    <div class="tab-inn">
                        <form #enseignantForm="ngForm" (ngSubmit)="ajouterEnseignant()">
                            <div class="row" *ngIf="showMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-success">
                                        <strong>Enseignant(e) ajouté(e) avec succès</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="MsgError== true && myBtnIdClicked== true">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input #box1="ngModel" pattern="[a-z A-Z]+$" type="text" name="nom"
                                        [(ngModel)]="enseignant.nom" class="validate" required>
                                    <label *ngIf="!box1.value">Nom</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box1.invalid && box1.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    <input #box2="ngModel" pattern="[a-z A-Z]+$" type="text" name="prenom"
                                        [(ngModel)]="enseignant.prenom" class="validate" required>
                                    <label *ngIf="!box2.value">Prénom</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box2.invalid && box2.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <label *ngIf="!sexe.value" for="sexe">Sexe</label>
                                    <select #sexe="ngModel" id="sexe" class="form-control" name="sexe"
                                        [(ngModel)]="enseignant.sexe" required>
                                        <option value="Homme">Homme</option>
                                        <option value="Femme">Femme</option>
                                    </select>
                                    <div class="input-field col 6">
                                        <strong *ngIf="sexe.invalid && sexe.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    <input #box3="ngModel" pattern="[a-z A-Z]+$" type="text" name="nationalite"
                                        [(ngModel)]="enseignant.nationalite" class="validate" required>
                                    <label *ngIf="!box3.value">Nationalité</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box3.invalid && box3.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="input-field col s6">
                                    <input #dateNais="ngModel" type="text" name="dateNais"
                                        [(ngModel)]="enseignant.dateNais" placeholder="Date Naissance"
                                        onfocus="(this.type='date')" required>
                                    <div class="input-field col 6">
                                        <strong *ngIf="dateNais.invalid && dateNais.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>

                                </div>

                                <div class="input-field col s6">
                                    <input #box4="ngModel" type="text" name="lieuNais" [(ngModel)]="enseignant.lieuNais"
                                        class="validate" required>
                                    <label *ngIf="!box4.value">Lieu Naissance</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box4.invalid && box4.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input #box5="ngModel" type="text" name="adresse" [(ngModel)]="enseignant.adresse"
                                        class="validate" required>
                                    <label *ngIf="!box5.value">Adresse</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box5.invalid && box5.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    <input #box6="ngModel" pattern="[0-9]+$" type="text" name="cin"
                                        [(ngModel)]="enseignant.cin" class="validate" required>
                                    <label *ngIf="!box6.value">CIN</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box6.invalid && box6.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col s6">
                                    <input #box7="ngModel" pattern="[+ 0-9]+$" type="text" name="tel"
                                        [(ngModel)]="enseignant.tel" class="validate" required>
                                    <label *ngIf="!box7.value">Téléphone</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box7.invalid && box7.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>

                                <div class="input-field col s6">
                                    <label *ngIf="!matiere.value" for="matiere">Matière</label>
                                    <select #matiere="ngModel" id="matiere" class="form-control" name="matiere_id"
                                        [(ngModel)]="enseignant.matiere_id" required>
                                        <option *ngFor="let matiere of matieres" [value]="matiere.id">
                                            {{matiere.libelle}}</option>
                                    </select>
                                    <div class="input-field col 6">
                                        <strong *ngIf="matiere.invalid && matiere.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col s6">
                                    <input #dateRec="ngModel" type="text" name="dateRecrutement"
                                        [(ngModel)]="enseignant.dateRecrutement" placeholder="Date Recrutement"
                                        onfocus="(this.type='date')" required>
                                    <div class="input-field col 6">
                                        <strong *ngIf="dateRec.invalid && dateRec.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>

                                <div class="input-field col s6">
                                    <input #box8="ngModel" pattern="[0-9]+$" type="number" name="salaire"
                                        [(ngModel)]="enseignant.salaire" class="validate" required>
                                    <label *ngIf="!box8.value">Salaire</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box8.invalid && box8.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col s6">
                                    <label *ngIf="!sitFam.value" for="sitFam">Situation Familiale</label>
                                    <select #sitFam="ngModel" id="sitFam" class="form-control"
                                        name="situation_familiale" [(ngModel)]="enseignant.situation_familiale"
                                        required>
                                        <option value="Célibataire">Célibataire</option>
                                        <option value="Marié(e)">Marié(e)</option>
                                    </select>
                                    <div class="input-field col 6">
                                        <strong *ngIf="sitFam.invalid && sitFam.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>

                                </div>

                                <div class="input-field col s6">
                                    <input #box9="ngModel" pattern="[0-9]+$" type="number" name="nbrEnfants"
                                        [(ngModel)]="enseignant.nbrEnfants" class="validate" required>
                                    <label *ngIf="!box9.value">Nombre Enfants</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box9.invalid && box9.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input #box10="ngModel" email type="email" class="validate" name="email"
                                        [(ngModel)]="enseignant.email" required>
                                    <label *ngIf="!box10.value">Email</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box10.invalid && box10.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    <input #box11="ngModel" type="password" name="password"
                                        [(ngModel)]="enseignant.password" class="validate" required>
                                    <label *ngIf="!box11.value">Mot de Passe</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box11.invalid && box11.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input #box12="ngModel" pattern="[a-z A-Z]+$" type="text" class="validate"
                                        name="username" [(ngModel)]="enseignant.username" required>
                                    <label *ngIf="!box12.value">Nom du Compte</label>
                                    <div class="input-field col 6">
                                        <strong *ngIf="box12.invalid && box12.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="file-field input-field col s6">
                                        <div class="btn admin-upload-btn" >
                                            <span>Image</span>
                                            <input type="file" name="img" (change)="onFileSelected($event)" required>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Image">
                                        </div>
                                    </div>
                                </div>

                             

                             
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                                            type="submit" (click)="myBtnClicked()"
                                            class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>