<!--SECTION START-->
<section class="c-all h-quote">
    <div class="container">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="all-title quote-title qu-new">
                <h2>Préinscription</h2>
                <p>Vous n'avez pas de compte ? Prière de préinscrire d'abord et attendez la confirmation de
                    l'administration pour devenir un membre
                    de ProEducation.</p>
                <p>Pour plus d'information veuillez nous contacter sur le numéro suivant </p>
                <p class="help-line">Téléphone: <span>+216 73 231 231</span> </p> <span><i class="fa fa-angle-right"
                        aria-hidden="true"></i></span><span class="help-arrow pulse"><i class="fa fa-angle-right"
                        aria-hidden="true"></i></span>
            </div>
        </div>



        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="n-form-com admiss-form">
                <!-- <div class="col s12"> -->
                <form class="form-horizontal" #preInscritForm="ngForm" (ngSubmit)="demandePreinscrit()">
                    <div class="row" *ngIf="showMsg">
                        <div class="input-field col s12">
                            <p class="alert alert-success">
                                <strong>Demande de Préinscription envoyée avec succès</strong>
                            </p>
                        </div>
                    </div>
                    <div class="row" *ngIf="MsgError== true && myBtnIdClicked== true">
                        <div class="input-field col s12">
                            <p class="alert alert-danger">
                                <strong>Veuillez vérifier vos champs</strong>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input #box1="ngModel" pattern="[a-z A-Z]+$" type="text" name="nom"
                                [(ngModel)]="preInscrit.nom" class="validate" placeholder="Nom" required>
                            <!-- <label class="">Nom</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box1.invalid && box1.touched " class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>

                        </div>
                        <div class="input-field col s6">
                            <input #box2="ngModel" pattern="[a-z A-Z]+$" type="text" name="prenom"
                                [(ngModel)]="preInscrit.prenom" class="validate" placeholder="Prénom" required>
                            <!-- <label class="">Prénom</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box2.invalid && box2.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <!-- <input type="text" value="" class="validate" placeholder="Sexe" required> -->
                            <!-- <label *ngIf="!sexe.value" for="sexe" >Sexe</label>  -->
                            <select style="height: 45px;" #sexe="ngModel" id="sexe" class="form-control" name="sexe" [(ngModel)]="preInscrit.sexe"
                                required >
                                <option [value]="0" disabled selected>Sexe</option>
                                <option value="Homme">Homme</option>
                                <option value="Femme">Femme</option>
                            </select>
                            <div class="input-field col 6">
                                <strong *ngIf="sexe.invalid && sexe.touched" class="text-danger">
                                    Veuillez remplir ce champs
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input #box3="ngModel" pattern="[a-z A-Z]+$" type="text" name="nationalite"
                                [(ngModel)]="preInscrit.nationalite" class="validate" placeholder="Nationalité"
                                required>
                            <!-- <label class="">Nationalité</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box3.invalid && box3.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input #dateNais="ngModel" type="text" name="dateNais" [(ngModel)]="preInscrit.dateNais"
                                placeholder="Date Naissance" onfocus="(this.type='date')" required>
                            <div class="input-field col 6">
                                <strong *ngIf="dateNais.invalid && dateNais.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input #box4="ngModel" type="text" name="lieuNais" [(ngModel)]="preInscrit.lieuNais"
                                class="validate" placeholder="Lieu Naissance" required>
                            <!-- <label class="">Lieu Naissance</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box4.invalid && box4.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input #box5="ngModel" type="text" name="adresse" [(ngModel)]="preInscrit.adresse"
                                class="validate" placeholder="Adresse" required>
                            <!-- <label class="">Adresse</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box5.invalid && box5.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <!-- <input type="text" value="" class="validate" placeholder="Niveau" required> -->
                            <!-- <label *ngIf="!niveau.value" for="niveau" >Sélecter Niveau</label> -->
                            <select style="height: 45px;" #niveau="ngModel" id="niveau" class="form-control" name="niveau_id"
                                [(ngModel)]="preInscrit.niveau_id" required >
                                <option [value]="0" disabled selected> Niveau</option>
                                <option *ngFor="let niveau of niveaux" [value]="niveau.id">{{niveau.libelle}}</option>
                            </select>
                            <div class="input-field col 6">
                                <strong *ngIf="niveau.invalid && niveau.touched" class="text-danger">
                                    Veuillez remplir ce champs
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input #box6="ngModel" pattern="[a-z A-Z]+$" type="text" name="nomComplet_pere"
                                [(ngModel)]="preInscrit.nomComplet_pere" class="validate" placeholder="Nom complet Père"
                                required>
                            <!-- <label class="">Nom_Complet Père</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box6.invalid && box6.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input #box7="ngModel" type="text" name="nomComplet_mere"
                                [(ngModel)]="preInscrit.nomComplet_mere" class="validate" placeholder="Nom complet Mère"
                                required>
                            <!-- <label class="">Nom_Complet Mère</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box7.invalid && box7.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input #box8="ngModel" type="text" name="cin_pere" [(ngModel)]="preInscrit.cin_pere"
                                class="validate" placeholder="CIN Père" required>
                            <!-- <label class="">CIN Père</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box8.invalid && box8.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input #box9="ngModel" type="text" name="cin_mere" [(ngModel)]="preInscrit.cin_mere"
                                class="validate" placeholder="CIN Mère" required>
                            <!-- <label class="">CIN Mère</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box9.invalid && box9.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input #box10="ngModel" type="text" name="tel_pere" [(ngModel)]="preInscrit.tel_pere"
                                class="validate" placeholder="Téléphone Père" required>
                            <!-- <label class="">Téléphone Père</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box10.invalid && box10.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input #box11="ngModel" type="text" name="tel_mere" [(ngModel)]="preInscrit.tel_mere"
                                class="validate" placeholder="Téléphone Mère" required>
                            <!-- <label class="">Téléphone Mère</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box11.invalid && box11.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input #box12="ngModel" type="text" name="fct_pere" [(ngModel)]="preInscrit.fct_pere"
                                class="validate" placeholder="Fonction Père" required>
                            <!-- <label class="">Fonction Père</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box12.invalid && box12.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input #box13="ngModel" type="text" name="fct_mere" [(ngModel)]="preInscrit.fct_mere"
                                class="validate" placeholder="Fonction Mère" required>
                            <!-- <label class="">Fonction Mère</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box13.invalid && box13.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input #box14="ngModel" email type="email" class="validate" name="email_pere"
                                [(ngModel)]="preInscrit.email_pere" placeholder="Email père" required>
                            <!-- <label class="">Email père</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box14.invalid && box14.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input #box15="ngModel" email type="email" name="email_mere"
                                [(ngModel)]="preInscrit.email_mere" class="validate" placeholder="Email Mère" required>
                            <!-- <label class="">Email Mère</label> -->
                            <div class="input-field col 6">
                                <strong *ngIf="box15.invalid && box15.touched" class="text-danger">
                                    Veuillez saisir une entrée valide
                                </strong>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="file-field input-field col s12">
                            <div class="btn admin-upload-btn">
                                <span>Image</span>
                                <input type="file" name="img" (change)="onFileSelected($event)" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Image Elève">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group mar-bot-0">

                        <div class="col-sm-offset col-sm-12">
                            <i class="waves-effect waves-light light-btn waves-input-wrapper"><input type="submit"
                                (click)="myBtnClicked()" value="Envoyer"
                                    class="waves-button-input"></i>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</section>
<!--SECTION END-->


<!--SECTION START-->
<!-- <section>
    <div class="full-bot-book">
        <div class="container">
            <div class="row">
                <div class="bot-book">
                    <div class="col-md-2 bb-img">
                        <img src="images/3.png" alt="">
                    </div>
                    <div class="col-md-7 bb-text">
                        <h4>therefore always free from repetition</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour</p>
                    </div>
                    <div class="col-md-3 bb-link">
                        <a href="course-details.html">Book This Course</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!-- </section> -->
<!--SECTION END-->


<!--HEADER SECTION-->
<!-- <section class="wed-rights">
    <div class="container">
        <div class="row">
            <div class="copy-right">
                <a target="_blank" href="http://www.templatespoint.net">TemplatesPoint</a>
            </div>
        </div>
    </div>
</section> -->
<!--END HEADER SECTION-->