<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Afficher Enseignant(e)</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-2">
        <div class="row">
            <div class="col-md-12">
                <div class="container pg-inn">
                    <div class="udb">
                        <div class="col-md-3">
                            <img *ngIf="(data.img!='noimage.jpg') else noImageFound" [src]="imageToShow" style="width: 220px; height: 220px;" alt="Enseignant">
                            <ng-template #noImageFound>
                                <img  src="assets/images/Fallbackimage.jpg" style="width: 220px; height: 220px;" alt="Fallbackimage">
                            </ng-template>
                           
                        </div>
                        <div class="udb-sec udb-prof">

                           

                            <h4><img src="assets/images/icon/db1.png" alt=""> Détails Enseignant(e)</h4>
                            <div class="sdb-tabl-com sdb-pro-table">
                                <table class="responsive-table bordered">
                                    <tbody>
                                        <tr>
                                            <td>Nom</td>
                                            <td>:</td>
                                            <td>{{data.nom}}</td>
                                        </tr>
                                        <tr>
                                            <td>Prénom</td>
                                            <td>:</td>
                                            <td>{{data.prenom}}</td>
                                        </tr>
                                        <tr>
                                            <td>Sexe</td>
                                            <td>:</td>
                                            <td>{{data.sexe}}</td>
                                        </tr>
                                        <tr>
                                            <td>Nationalité</td>
                                            <td>:</td>
                                            <td>{{data.nationalite}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date Naissance</td>
                                            <td>:</td>
                                            <td>{{data.dateNais}}</td>
                                        </tr>
                                        <tr>
                                            <td>Lieu Naissance</td>
                                            <td>:</td>
                                            <td>{{data.lieuNais}}</td>
                                        </tr>
                                        <tr>
                                            <td>Adresse</td>
                                            <td>:</td>
                                            <td>{{data.adresse}}</td>
                                        </tr>
                                        <tr>
                                            <td>CIN</td>
                                            <td>:</td>
                                            <td>{{data.cin}}</td>
                                        </tr>
                                        <tr>
                                            <td>Téléphone</td>
                                            <td>:</td>
                                            <td>{{data.tel}}</td>
                                        </tr>
                                        <tr>
                                            <td>Matière</td>
                                            <td>:</td>
                                            <td>{{data.matiere.libelle}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email </td>
                                            <td>:</td>
                                            <td>{{data.user.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date Recrutement</td>
                                            <td>:</td>
                                            <td>{{data.dateRecrutement}}</td>
                                        </tr>
                                        <tr>
                                            <td>Salaire</td>
                                            <td>:</td>
                                            <td>{{data.salaire}}</td>
                                        </tr>
                                        <tr>
                                            <td>Situation Familiale </td>
                                            <td>:</td>
                                            <td>{{data.situation_familiale}}</td>
                                        </tr>
                                        <tr>
                                            <td>Nombre Enfants</td>
                                            <td>:</td>
                                            <td>{{data.nbrEnfants}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="sdb-bot-edit">

                                    <a routerLink="/admin/modifierEnseignant/{{data.id}}"
                                        class="waves-effect waves-light btn-large sdb-btn sdb-btn-edit"><i
                                            class="fa fa-pencil"></i> Modifier Enseignant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>