
<div class="stu-db">
    <div class="container pg-inn">
        <div class="col-md-3">
            <div class="pro-user">
                <img [src]="imageToShow" alt="Eleve" *ngIf="!isImageLoading; else noImageFound">
                <ng-template #noImageFound>
                    <img src="assets/images/Fallbackimage.jpg" style="width: 300px; height: 300px;" alt="Fallbackimage">
                </ng-template>
            </div>
            <div class="pro-user-bio">
                <ul>
                    <li>
                        <h4>{{eleve.nom}} {{eleve.prenom}}</h4>
                    </li>
                    <li>Matricule: {{eleve.matricule}}</li>

                </ul>
            </div>
        </div>
<div class="col-md-9">

    <div id="emploi" #emploi class="tab-inn">
        <form>
            <div  id="main_container">

            
               

                <div  id="redips-drag">

                    <!-- <div id="right"> -->
                    <table  id="table2">
                        <colgroup>
                            <col width="50" />
                            <col width="100" />
                            <col width="100" />
                            <col width="100" />
                            <col width="100" />
                            <col width="100" />
                            <col width="100" />
                        </colgroup>
                        <thead>
                            <tr>
                                <!-- div class="row">
<div class="col-md-4" ng-repeat="remainder in [0,1,2]">
<span ng-repeat="item in array" ng-if="$index % 3 == remainder">{{item}}</span>
</div>
</div> -->
                                <td class="redips-mark blank"></td>
                                <td  *ngFor="let j of semaine" class="redips-mark dark">{{j}}</td>
                                
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let h1 of demiJour1; index as i">
                                <td class="redips-mark dark">{{h1 | slice :0:5}}</td>
                                <td *ngFor="let j of semaine; index as k">
                                    <ng-container *ngIf="exist(j,h1)" >
                                        <div  class="input-field">
                                            
                                         <span style="font-weight: bold;"> {{seance.enseignant.matiere.libelle}}<br></span> 
                                            {{seance.enseignant.nom}} {{seance.enseignant.prenom}}<br>
                                            <span style="font-weight: lighter;">  {{seance.salle.nom}} {{seance.salle.num}}</span>

                                       
                                        </div>
                                    </ng-container>
                                  
                                </td>
                               
                            <tr>
                                <td class="redips-mark dark">12:00</td>
                                <td class="redips-mark lunch" colspan="6">Pause</td>
                            </tr>
                            <tr>
                                <td class="redips-mark dark">13:00</td>
                                <td class="redips-mark lunch" colspan="6">Pause</td>
                            </tr>

                            <tr *ngFor="let h2 of demiJour2; index as m">
                                <td class="redips-mark dark">{{h2 | slice :0:5}}</td>
                                <td *ngFor="let j of semaine; index as n">
                                    <ng-container *ngIf="exist(j,h2)" >
                                        <div  class="input-field">
                                            
                                            <span style="font-weight: bold;"> {{seance.enseignant.matiere.libelle}}<br></span> 
                                            {{seance.enseignant.nom}} {{seance.enseignant.prenom}}<br>
                                            <span style="font-weight: lighter;">  {{seance.salle.nom}} {{seance.salle.num}}</span>
                                       
                                        </div>
                                    </ng-container>
                                  
                                </td>
                               
                        </tbody>
                    </table>
                    <!-- </div> -->
                    <!-- right container -->
                </div>
                <!-- drag container -->
            </div>
            <!-- main container -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                         (click)="makePDF()"   type="submit" value="telecharger" class="waves-button-input"></i>
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="udb">
        <div class="udb-sec udb-time">
            <h4><img src="images/icon/db4.png" alt=""> Emploi de Temps</h4> -->
            <!-- <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p> -->
            <!-- <div class="tour_head1 udb-time-line days">
                <ul>
                     <ng-container *ngFor="let key of keys;index as i">
                     

                    <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <div class="sdb-cl-tim">
                            <div class="sdb-cl-day">
                                <h5>{{key}}</h5>
                                <span>10Sep 2018</span>
                            </div>
                        
                            <div class="sdb-cl-class">
                                <ul>
                                    <ng-container *ngFor="let seance of seances[key]; index as j">
                                    <li>
                                        <div class="sdb-cl-class-tim">
                                            <span>{{seance.heure | slice :0:5 }}</span> -->
                                             <!-- <span>10:15 am</span> -->
                                        <!-- </div>
                                        <div class="sdb-cl-class-name">
                                            <h5>{{seance.enseignant.matiere.libelle}}
                                                <span>{{seance.enseignant.nom}} {{seance.enseignant.prenom}}</span>
                                            </h5>
                                            <span class="sdn-hall-na">{{seance.salle.nom}} {{seance.salle.num}}</span>
                                        </div>
                                    </li> -->
                                <!-- </ng-container>
                                   
                                </ul>
                            </div>
                       
                        </div>
                    </li>
                </ng-container>         
                
                  -->
                <!-- </ul>
            </div>
        </div>
    </div>-->
</div> 
    </div>
</div>
 
