<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a>Ajouter Salle</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Ajouter Salle</h4>
                        
                    </div>
                    <div class="tab-inn">
                        <form #salleForm="ngForm" (ngSubmit)="ajouterSalle()">
                            <div class="row" *ngIf="showMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-success">
                                        <strong>Salle ajoutée avec succès</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="MsgError== true && myBtnIdClicked== true">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input #box1="ngModel" type="text" name="nom" class="validate" [(ngModel)]="salle.nom"
                                        required>
                                    <label *ngIf="!box1.value">Nom Salle</label>
                                    <div class="input-field col 12">
                                        <strong *ngIf="box1.invalid && box1.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input #box2="ngModel" pattern="[0-9]+$" type="text" name="num" class="validate" [(ngModel)]="salle.num"
                                        required>
                                    <label *ngIf="!box2.value">Numéro Salle</label>
                                    <div class="input-field col 12">
                                        <strong *ngIf="box2.invalid && box2.touched" class="text-danger">
                                            Veuillez saisir une entrée valide
                                        </strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <label *ngIf="!type.value" for="typeSalle">Type Salle</label>
                                    <select #type="ngModel" name="type" id="typeSalle" class="form-control" [(ngModel)]="salle.type" required>
                                        <option value="Salle de Cours">Salle de Cours</option>
                                        <option value="Salle de TP"> Salle de TP</option>
                                    </select>
                                    <div class="input-field col 12">
                                        <strong *ngIf="type.invalid && type.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>  
                                
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                                            type="submit" (click)="myBtnClicked()" class="waves-button-input"></i>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>