<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a href="#"> Donner Punition</a>
            </li>

        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4> Donner Punition</h4>

                    </div>
                    <div class="tab-inn">
                        <form #punitionForm="ngForm" (ngSubmit)="donnerPunition()">
                            <div class="row" *ngIf="showMsg">
                                <div class="input-field col s12">
                                    <p class="alert alert-success">
                                        <strong>Punition affectée avec succès</strong>
                                    </p>
                                </div>
                            </div>

                            <div class="row" *ngIf="MsgError== true && myBtnIdClicked== true">
                                <div class="input-field col s12">
                                    <p class="alert alert-danger">
                                        <strong>Veuillez vérifier vos champs</strong>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <label *ngIf="!box1.value" for="grp">Groupes</label>
                                    <select (change)="onSelect()" #box1="ngModel" id="grp" class="form-control"
                                        name="groupe_id" [(ngModel)]="groupe_id" required>
                                        <option *ngFor="let groupe of groupes" [value]="groupe.id">
                                            {{groupe.niveau.libelle}} {{groupe.num}}</option>
                                    </select>
                                </div>

                                <div class="input-field col s6">
                                    <!-- <label *ngIf="!box2.value" for="eleve">Liste des élèves</label> -->
                                    <select #box2="ngModel" id="eleve" class="form-control" name="eleve_id"
                                        [(ngModel)]="punition.eleve_id" required>
                                        <option [value]="0" disabled selected>Liste des élèves</option>
                                        <option *ngFor="let e of listEleves;" [value]="e.id"> {{e.nom}} {{e.prenom}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <label *ngIf="!box5.value" for="session_id">Trimestre/Semestre</label>
                                    <select #box5="ngModel" id="session_id" class="form-control" name="session_id"
                                        [(ngModel)]="punition.session_id" required>
                                        <!-- <option [value]="0" disabled selected>Trimestre/Semestre</option> -->
                                        <option *ngFor="let session of sessions;" [value]="session.id"> {{session.nom}}
                                        </option>
                                    </select>
                                 
                                <div class="input-field col 6">
                                    <strong *ngIf="box5.invalid && box5.touched" class="text-danger">
                                        Veuillez remplir ce champs
                                    </strong>
                                </div>
                            </div>  
                                

                                <div class="input-field col s6">
                                    <input style="height: 34px;border: 1px solid #ccc;border-radius: 4px;"
                                        #date="ngModel" type="text" name="date" [(ngModel)]="punition.date"
                                        placeholder="Date" onfocus="(this.type='date')" required>
                                    <div class="input-field col 6">
                                        <strong *ngIf="date.invalid && date.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                            <div class="input-field col s12">
                                <label *ngIf="!box3.value" for="type">Type de punition</label>
                                <select (change)="selected($event)"  #box3="ngModel" id="type" class="form-control" name="type"
                                    [(ngModel)]="punition.type" required>
                                    <option value="Avertissement">Avertissement</option>
                                    <option   value="Exclusion hors de la classe">Exclusion hors
                                        de la classe</option>
                                    <option value="Exclusion temporaire">Exclusion temporaire</option>
                                    <option value="Exclusion définitive">Exclusion définitive</option>
                                </select>

                                <div class="input-field col 6">
                                    <strong *ngIf="box3.invalid && box3.touched" class="text-danger">
                                        Veuillez remplir ce champs
                                    </strong>
                                </div>
                            </div>
                          </div>
                            <ng-container *ngIf="selectedValue== true ">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label *ngIf="!seance.value" for="seance">Séances</label>
                                        <select #seance="ngModel" id="seance" class="form-control" name="seance"
                                            [(ngModel)]="punition.seance_id" required>
                                            <option *ngFor="let s of listSeances;" [value]="s.id">{{s.jour}} {{s.heure |
                                                slice :0:5}}</option>
                                        </select>
                                    </div>
                                </div>
                            </ng-container>

                             
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea #box4="ngModel" name="description" [(ngModel)]="punition.description"
                                        class="materialize-textarea" required></textarea>
                                    <label *ngIf="!box4.value">Description :</label>
                                    <div class="input-field col 12">
                                        <strong *ngIf="box4.invalid && box4.touched" class="text-danger">
                                            Veuillez remplir ce champs
                                        </strong>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper"><input
                                            (click)="myBtnClicked()" type="submit" class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>