<section>
    <div class="pro-cover">
    </div>
    <div class="pro-menu">
        <div class="container">
            <div class="col-md-9 col-md-offset-3">
                <ul>
                    <li><a routerLink="/eleve" class="pro-act">Profile</a></li>
                    <li><a routerLink="/eleve/cours">Cours</a></li>
                    <li><a routerLink="/eleve/travaux">Travaux</a></li>
                    <li><a routerLink="/eleve/emploiEleve">Emploi de Temps</a></li>
                    <li><a routerLink="/eleve/examens">Examens</a></li>
                    <li><a routerLink="/eleve/notes">Notes</a></li>
                    <li><a routerLink="/eleve/bulletins">Bulletins</a></li>
                  
                </ul>
            </div>
        </div>
    </div>
   
    <router-outlet></router-outlet>

</section>
