<!--== MAIN CONTRAINER ==-->
<div class="container-fluid sb1">
    <div class="row">
        <!--== LOGO ==-->
        <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
            <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a>
            <a routerLink="/" class="logo"><img style="padding-top:7%;" src="assets/images/logo1.png" alt="" />
            </a>

        </div>
        <!--== SEARCH ==-->
        <div class="col-md-6 col-sm-6 mob-hide">
          
            <a data-toggle="modal" (click)="listeAnnees()" data-target="#modal1"
                class='waves-effect  top-user-pro'>Année Scolaire: {{A.annee}}

            </a>
        </div>
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Année Scolaire</h1>
                    <p>Attention!!! Si vous changer l'année scolaire
                        <br>seules les informations enregistrées à cette année en question seront disponibles
                    </p>
                   
                </div>
                <div class="log-in-pop-right">
                    <a #closeModal href="#" class="pop-close" data-dismiss="modal"><img src="assets/images/cancel.png"
                            alt="" />
                    </a>
                    <h4>Année Scolaire</h4>

                   

                    <form #anneeform="ngForm" class="s12" (ngSubmit)="changerAnnee()">
                        <div class="row">
                            <div class="input-field col s12">


                                <select #annee="ngModel" id="annee" class="form-control" name="annee_id"
                                    [(ngModel)]="A.id" required>
                                    <option value="0" disabled selected> Année Scolaire
                                    </option>
                                    <option *ngFor="let annee of annees" [value]="annee.id">
                                        {{annee.annee}} </option>
                                </select>
                                <div class="input-field col S12">
                                    <strong *ngIf="annee.invalid && annee.touched" class="text-danger">
                                        Veuillez remplir ce champs
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Changer" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--== NOTIFICATION ==-->
        <div class="col-md-2 tab-hide">
           
        </div>
       


        <!-- </div> -->
        <!--== MY ACCCOUNT ==-->
        <div class="col-md-2 col-sm-3 col-xs-6">
            <!-- Dropdown Trigger -->
            <a class='waves-effect dropdown-button top-user-pro' href='#' data-activates='top-menu'><img
                    src="assets/images/placeholder.jpg" alt="" />MonCompte <i class="fa fa-angle-down"
                    aria-hidden="true"></i>
            </a>

            <!-- Dropdown Structure -->
            <ul id='top-menu' class='dropdown-content top-menu-sty'>
               
                <li class="divider"></li>
                <li><a (click)="logout()" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in"
                            aria-hidden="true"></i>
                        Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--== BODY CONTNAINER ==-->
<div class="container-fluid sb2">
    <div class="row">
        <div class="sb2-1">
            <!--== USER INFO ==-->
            <div class="sb2-12">
                <ul>
                    <li><img src="assets/images/placeholder.jpg" alt="">
                    </li>
                    <li *ngIf="user">
                        <h5>
                            {{user.name}}
                            <span> Administrateur</span>
                        </h5>
                    </li>
                    <li></li>
                </ul>
            </div>
            <!--== LEFT MENU ==-->
            <div class="sb2-13">
                <ul class="collapsible" data-collapsible="accordion">
                    <li><a routerLink="/admin" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Dashboard</a>
                    </li>
                    <!-- <li><a href="admin-setting.html"><i class="fa fa-cogs" aria-hidden="true"></i> Site Setting</a>
                    </li> -->
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-calendar"
                                aria-hidden="true"></i> Année Scolaire</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="ajouterAnnee">Ajouter Année scolaire</a>
                                </li>
                                <li><a routerLink="listeAnnees">Liste Années scolaires</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-bars"
                                aria-hidden="true"></i> Sessions Scolaires</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="ajouterSession">Ajouter Session </a>
                                </li>
                                <li><a routerLink="listeSessions">Liste Sessions </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-users"
                                aria-hidden="true"></i> Élèves</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="listPreinscrit">Préinscription</a>
                                </li>
                                <li><a routerLink="ajouterEleve">Ajouter Élève</a>
                                </li>
                                <li><a routerLink="listEleves">Liste Élèves</a>
                                </li>
                               
                            </ul>
                        </div>
                    </li>
                    
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-graduation-cap"
                                aria-hidden="true"></i>Niveaux</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="ajouterNiveau">Ajouter Niveau</a>
                                </li>
                                <li><a routerLink="listNiveaux">Liste Niveaux</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-users"
                                aria-hidden="true"></i> Groupes</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="ajouterGroupe">Ajouter Groupe</a>
                                </li>
                                <li><a routerLink="listGroupes">Liste Groupes</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book"
                                aria-hidden="true"></i>Matières</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="ajouterMatiere">Ajouter Matière</a>
                                </li>
                                <li><a routerLink="listMatieres">Liste Matières</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                   
                   

                    
                 

                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-calendar"
                                aria-hidden="true"></i> Évènements</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="ajouterEvent">Ajouter évènement</a>
                                </li>
                                <li><a routerLink="ListeEvents">Liste évènements</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                   


                </ul>
            </div>
        </div>

        <!--== BODY INNER CONTAINER ==-->
        <router-outlet></router-outlet>
    </div>
</div>