<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>UVs <span>Informatique</span></h2>
                <p>L'interface des UVs informatiques présente une liste complète des UVs spécifiques à la spécialité informatique, fournissant des informations essentielles sur chaque UV pour faciliter la planification de votre parcours académique .</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-1.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                           
                            <a routerLink="/eleve/detailsUv">
                                <h3>IT45</h3>
                            </a>
                            <h4>Algorithmic and Programming</h4>
                            <p>Apprendre les méthodes et algorithmes de base de recherche opérationnelle et les appliquer à des problèmes d'optimisation classiques.</p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                  
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-2.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a routerLink="/eleve/detailsUv">
                                <h3>AP4B</h3>
                            </a>
                            <h4>Algorithmic and Programming</h4>
                            <p>Programmation Orientée Objet: Modélisation UML et mise en pratique avec le langage Java</p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-3.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a routerLink="/eleve/detailsUv">
                                <h3>HM40</h3>
                            </a>
                            <h4>Algorithmic and ProgrammingHardware et systèmesTheoretical computer science</h4>
                            <p>Acquérir les compétences pour analyser et concevoir des interfaces homme-machine</p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-4.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a routerLink="/eleve/detailsUv">
                                <h3>IT44</h3>
                            </a>
                            <h4>Analyse numérique</h4>
                            <p>analyse et construction d'une méthode pour résoudre un problème donné, critique et comparaison des méthodes puis implémentation sur machine</p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-5.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a routerLink="/eleve/detailsUv">
                                <h3>IT41</h3>
                            </a>
                            <h4>Classical and Quantum Algorithms</h4>
                            <p>	
                                Aborder du point de vue des mathématiques la notion d'algorithme en étudiant/comparant le calcul classique et le calcul quantique.</p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-6.png" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a routerLink="/eleve/detailsUv">
                                <h3>SI40</h3>
                            </a>
                            <h4>Systèmes d'information</h4>
                            <p>Mettre en œuvre des outils de conception de systèmes d'information </p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-7.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a routerLink="/eleve/detailsUv">
                                <h3>SY43</h3>
                            </a>
                            <h4>Android development</h4>
                            <p>Acquérir les compétences sur l'architecture et les spécificités du système Android <p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="/assets/images/course/sm-8.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a routerLink="/eleve/detailsUv">
                                <h3>RS40</h3>
                            </a>
                            <h4>Réseaux et Cybersécurité niveau 1</h4>
                            <p>Comprendre les objectifs, exigences et contraintes spécifiques à l'application des bonnes pratiques de la sécurité informatique,Réseaux: Comprendre les notions de base à travers les attaques</p> <span class="home-top-cour-rat">4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/eleve/detailsUv"><i class="fa fa-bar-chart" aria-hidden="true"></i> Voir plus</a> </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>