 <!--SECTION START-->
 <section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>À propos de <span> CampusConnect</span></h2>
                        <p>Découvrez tout ce que vous devez savoir sur CampusConnect, votre passerelle vers une expérience étudiante connectée et enrichissante.</p>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="ed-advan">
                        <ul>
                            <div class="row">
                                <div class="bot-gal h-gal ho-event-mob-bot-sp">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ed-ad-img">
                                                <img src="assets/images/adv/1.png" alt="">
                                            </div>
                                            <div class="ed-ad-dec">
                                                <h4>Intégration</h4>
                                                <p style="text-align: justify;">La plate-forme vise à aider les nouveaux étudiants à s'intégrer plus facilement dans leur université en leur fournissant des conseils personnalisés sur les cours à choisir en fonction de leurs intérêts et de leurs objectifs académiques</p>
                                                <!-- <a href="awards.html">Read more</a> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ed-ad-img">
                                                <img src="assets/images/adv/2.png" alt="">
                                            </div>
                                            <div class="ed-ad-dec">
                                                <h4>Accès aux informations</h4>
                                                <p style="text-align: justify;">La plate-forme permet aux étudiants d'obtenir des informations sur les activités et les clubs étudiants et de se connecter avec d'autres étudiants qui partagent des intérêts similaires.</p>
                                                <!-- <a href="assets/research.html">Read more</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <br> <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ed-ad-img">
                                                <img src="assets/images/adv/3.png" alt="">
                                            </div>
                                            <div class="ed-ad-dec">
                                                <h4>Connexion</h4>
                                                <p style="text-align: justify;">La plateforme vise également à faciliter la communication et la collaboration entre les étudiants en créant un environnement interactif où les étudiants peuvent se connecter, échanger des idées et partager des connaissances.</p>
                                                <!-- <a href="all-courses.html">Read more</a> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ed-ad-img">
                                                <img src="assets/images/adv/4.png" alt="">
                                            </div>
                                            <div class="ed-ad-dec">
                                                <h4>Evaluation</h4>
                                                <p>La plate-forme permet également aux nouveaux étudiants d'accéder aux évaluations et conseils des anciens étudiants, ce qui peut les aider à mieux comprendre les programmes académiques et les attentes de leur université.</p>
                                                <!-- <a href="awards.html">Read more</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

