<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Liste Enseignant(e)s</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Liste Enseignant(e)s</h4>
                    </div>

                    <div class="row" *ngIf="showMsg">
                        <div class="col-md-12">
                            <p class="alert alert-success">
                                <strong>Suppression avec succès</strong>
                            </p>
                        </div>
                    </div>

                    <div class="tab-inn">

                        <div class="app-search" style="width: 100%; display: flex;">
                            <input class="sf-input" type="text" placeholder="Nom/Prénom" class="form-control"
                                (keyup.enter)="onInputSearch($event)">
                            <input type="text" placeholder="CIN" class="form-control"
                                (keyup.enter)="onInputSearch2($event)">
                            <select style="border-radius: 0px; border: none;" class="form-control" name="matiere_id"
                                (change)="onSelect($event)">
                                <option [value]="0" selected> Tous les matières</option>
                                <option *ngFor="let m of matieres" [value]="m.id">
                                    {{m.libelle}} </option>
                            </select>

                            <a><i class="fa fa-search"></i></a>
                        </div>

                        <ng-container *ngIf="enseignants.length>0;else ElseIf">
                            <div class="table-responsive table-desi">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Téléphone</th>
                                            <th>Email</th>
                                            <th>Matière</th>
                                            <th>CIN</th>
                                            <!-- <th>Date Naissance</th> -->
                                            <th>Afficher</th>
                                            <th>Supprimer</th>
                                            <th>Modifier</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let enseignant of enseignants; let i=index;">
                                            <td>{{i+1}}</td>
                                            <td><a href="#"><span class="list-enq-name">{{enseignant.nom}}
                                                        {{enseignant.prenom}}</span><span
                                                        class="list-enq-city">{{enseignant.lieuNais}}</span></a>
                                            </td>
                                            <td>{{enseignant.tel}}</td>
                                            <td>{{enseignant.user.email}}</td>
                                            <td>{{enseignant.matiere.libelle}}</td>
                                            <td>{{enseignant.cin}}</td>
                                            <!-- <td>{{enseignant.dateNais}}</td> -->
                                            <td><a routerLink="/admin/afficherEnseignant/{{enseignant.id}}"
                                                    style="background-color: #58b392"
                                                    class="label label-success">Afficher</a></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#modal6"
                                                    style="background-color: #f44336;margin-right: 10px;"
                                                    class="label label-success" (click)="onClick(enseignant.id)">Supprimer</a>
                                            </td>
                                            <td><a routerLink="/admin/modifierEnseignant/{{enseignant.id}}"
                                                    style="background-color: #002147;"
                                                    class="label label-success">Modifier</a></td>

                                        </tr>

                                         <!-- delete confirmation pop-up  -->
                                         <div id="modal6" class="modal fade" role="dialog">
                                            <div class="log-in-pop" style="width: 60%; height:40%; padding:5%">
                                                <a #closeModal href="#" class="pop-close" data-dismiss="modal"><img
                                                        src="assets/images/cancel.png" alt="" />
                                                </a>
                                                <h2 style="text-align: center; color: rgba(0, 0, 0, 0.934);">
                                                    Supprimer Enseignant(e)
                                                </h2>
                                                <h4 style="color: rgba(3, 3, 3, 0.873);">Êtes-vous sûr de vouloir
                                                    supprimer cet(te) enseignant(e) ?
                                                </h4> <br>


                                                <div
                                                    style="display: grid; grid-template-columns: auto auto; grid-gap: 50px;">
                                                    <input (click)="cancel()" type="submit" value="Annuler"
                                                        class="waves-effect waves-light log-in-btn"
                                                        style="background-color: #002147;">
                                                    <input (click)="deleteEnseignant(idEnseignant)" type="submit"
                                                        value="Supprimer" class="waves-effect waves-light log-in-btn">

                                                </div>

                                            </div>
                                        </div>

                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                        <ng-template #ElseIf>
                            <div class="row">
                                <div class="input-field col s12">
                                    <h4 style="padding:1%"> Aucun(e) Enseignant(e) n'a été ajouté(e) pour le moment...</h4>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>