<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Dashboard</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>
    <!--== DASHBOARD INFO ==-->
    <div class="sb2-2-1">
        <h2>Dashboard Administrateur</h2>
        <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
        <div class="db-2">
            <ul>
                <li>
                    <div class="dash-book dash-b-4">
                        <h5>Préinscriptions</h5>
                        <h4>1</h4>
                        <a routerLink="listPreinscrit">Voir liste</a>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-2">
                        <h5>Élèves</h5>
                        <h4>2</h4>
                        <a routerLink="listEleves">Voir liste</a>
                    </div>
                </li>
                
                
                <li>
                    <div class="dash-book dash-b-4">
                        <h5>Niveaux</h5>
                        <h4>4</h4>
                        <a routerLink="listNiveaux">Voir liste</a>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-2">
                        <h5>Groupes</h5>
                        <h4>4</h4>
                        <a routerLink="listGroupes">Voir liste</a>
                    </div>
                </li>
                
                
                
            </ul>

            <ul>
                <li>
                    <div class="dash-book dash-b-3">
                        <h5>Enseignants</h5>
                        <h4>9</h4>
                        <a routerLink="listEnseignants">Voir liste</a>
                    </div>
                </li>
                
                <li>
                    <div class="dash-book dash-b-4">
                        <h5>Matières</h5>
                        <h4>10</h4>
                        <a routerLink="listMatieres">Voir liste</a>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-1">
                        <h5>Salles</h5>
                        <h4>9</h4>
                        <a routerLink="listSalles">Voir liste</a>
                    </div>
                </li>
               
                <li>
                    <div class="dash-book dash-b-2">
                        <h5>Évènements</h5>
                        <h4>2</h4>
                        <a routerLink="ListeEvents">Voir liste</a>
                    </div>
                </li>
                
            </ul>
    </div>
</div>