<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
            </li>
            <li class="active-bre"><a> Liste Parents</a>
            </li>
            <!-- <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li> -->
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Parents Details</h4>
                    </div>
                    <div class="tab-inn">

                        <div class="app-search" style="width: 100%; display: flex;">

                            <input class="sf-input" type="text" placeholder="Nom Complet Père/mère" class="form-control"
                                (keyup.enter)="onInputSearch($event)">
                            <input type="text" placeholder="CIN Père/mère" class="form-control"
                                (keyup.enter)="onInputSearch2($event)">
                           

                            <a><i class="fa fa-search"></i></a>
                        </div>

                        <ng-container *ngIf="parents.length>0;else ElseIf">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom Complet</th>
                                        <th>CIN</th>
                                        <!-- <th>Nom Mère</th> -->
                                        <th>Email</th>
                                        <!-- <th>Email Mère</th> -->
                                        <th>Téléphone</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of parents; let i=index;">
                                        <td>{{i+1}}</td>
                                        <td>{{p.nomComplet_pere}} <br>{{p.nomComplet_mere}}</td>
                                        <td>{{p.cin_pere}} <br>{{p.cin_mere}} </td>
                                        <td>{{p.email_pere}} <br>{{p.email_mere}} </td>
                                        <td>{{p.tel_pere}} <br> {{p.tel_mere}}</td>
                                        <td><a routerLink="/admin/afficherParent/{{p.id}}"  style="background-color: #58b392" class="label label-success">Afficher</a>
                                            <!-- <a routerLink="/admin/afficherParent/{{p.id}}" class="btn btn-primary">Afficher</a></td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                    <ng-template #ElseIf>
                        <div class="row">
                            <div class="input-field col s12">
                            <h4 style="padding:1%"> Aucun parent n'a été ajouté pour le moment...</h4>
                            </div>
                        </div>
                    </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>